body {
    margin: 0;
    font-family:sans-serif;
}
header{
  background: #FFF;
  box-shadow:0 2px 5px rgba(0,0,0,.7);
  left:0;
  line-height:1;
  position:fixed;
  top:0;
  width:100%;
  height:50px;
  z-index:2;
  border:none;
  text-align:center;
  vertical-align: middle;
}

.header_content{
    background: linear-gradient(90deg, rgba(102, 205, 170, 0.2), rgba(255, 255, 255, 1) 20%);
    margin-top:50px;
    padding-top:5px;
    padding-left:0.5rem;
}

header img {
vertical-align: middle;
}

.hptitle{
font-size:30px;
line-height: 50px;
font-weight:700;
white-space: nowrap;
vertical-align: middle;
}

.data_content{
padding: 12px;
}

.alert{
padding: 16px;
border-radius:4px;
border: 1px solid #f44336;
}

.attention{
    padding: 16px;
border-radius:4px;
border: 1px solid #ffd900;
}
