body {
    margin: 0;
    font-family:sans-serif;
}
header{
  background: #FFF;
  box-shadow:0 2px 5px rgba(0,0,0,.7);
  left:0;
  line-height:1;
  position:fixed;
  top:0;
  width:100%;
  height:50px;
  z-index:2;
  border:none;
  text-align:center;
  vertical-align: middle;
}

.header_content{
    background: linear-gradient(90deg, rgba(0, 155, 229, 0.2), rgba(255, 255, 255, 1) 20%);
    margin-top:50px;
    padding-top:5px;
    padding-left:0.5rem;
}

header img {
vertical-align: middle;
}

.hptitle{
font-size:30px;
line-height: 50px;
font-weight:700;
white-space: nowrap;
vertical-align: middle;
}

input[type="text"] {
    height: 1.8rem;
    line-height: 1.8rem;
    padding: 0 0.4rem;
    border: none;
    border-radius: 4px;
    box-sizing: content-box;
    box-shadow: 0 1px 2px rgb(0 0 0 / 40%);
    vertical-align: top;
    -webkit-appearance: none;
}

input[type="tel"] {
    height: 1.8rem;
    line-height: 1.8rem;
    padding: 0 0.4rem;
    border: none;
    border-radius: 4px;
    box-sizing: content-box;
    box-shadow: 0 1px 2px rgb(0 0 0 / 40%);
    vertical-align: top;
    -webkit-appearance: none;
}

#data_content {
    margin: 0.5rem;
    overflow-x: scroll;
    white-space: nowrap;
}

#data_content table {
    border: none;
    border-spacing: none;
    table-layout: fixed;
    border-collapse: collapse;
    -webkit-text-size-adjust: 100%;
}

#data_content th {
    border-left: none;
    border-right: none;
    border-top: none;
    color: #fff;
    text-align: center;
    font-weight: bold;
    padding: 0.2rem;
    background: rgb(0, 155, 229);
}

#data_content td {
    background: #fff;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: solid 1px #ccc;
    padding: 0.2rem;
}

#data_content table tr:nth-child(odd) td {
	background: #eee;
}

a.syllabus {
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 0.8rem;
    margin: 0.2rem 0;
    padding: 0.1rem 0.3rem;
    color: rgb(0, 155, 229);
    border-radius: 1rem;
    background: linear-gradient( 30deg, rgba(0, 155, 229, 0.2), #fff);
    box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
    display: inline-block;
}
